body {
    background-color: darkgray;
}
h1 {
    color: darkblue;
}
h2 {
    color: darkblue;
}
p {
    font-family: 'Franklin Gothic Medium';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
}
